.pic{
    width: 100%;
    margin: 50px auto 0 auto;
}
.pic-main{
    
    
    margin-left: 10em; 
    width: 700px;
    border-radius: 5px;

    background-color: #fff;

}
.pic-right{
    position: sticky;
    top: 30px;
    float: right;
    margin-right: 10em;
    width: 300px;

    border-radius: 5px;
    background-color: #fff;
}
.brief{
    display: block;
    font-size: 20px;
    padding: 20px 20px;

}
.brief-2{
    display: block;
    font-size: 10px;
    padding: 10px 20px

    
}
.pic-main img{
    width: 680px;
    margin: 10px 10px;

}
.usericon{
    width: 60px;
    border: 1px solid #fff;
    overflow: hidden;
    border-radius: 6px;
    margin: 10px auto;
}
.usericon img{
    width:60px;
    vertical-align: middle;
}
.username{
    width: 300px;
    margin: 0px auto 20px auto;
    display: inline-block;
    text-align: center;
    color: #282c34;
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
}
.username:hover{
    color: blue;
}